# Object files
*.o
*.obj
*.ko
*.elf

# Executables
binmat
calmat
tokmat
oba2
*.exe
*.out
*.app

# Libraries
*.a
*.lib
*.so
*.dll
*.dylib

# Visual Studio / MSVC
.vs/
*.pdb
*.idb
*.tlog
*.lastbuildstate
*.recipe
*.ilk
*.suo
*.user
*.suo
*.userosscache
*.sln.docstates

# Diagnostic and Log files
diagnostic_*.txt
*.log

# OS files
.DS_Store
Thumbs.db
